fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
pydantic-settings
langchain
langgraph
langchain-community
chromadb
sentence-transformers
pypdf
pdfplumber
python-docx
python-pptx
pandas
pillow
pytesseract
groq
google-generativeai
resend
python-dotenv
alembic
slowapi
reportlab
requests
piper-tts
faster-whisper
yt-dlp
